

<ion-content>
  <body>


    <div class="content">
        <ion-grid>
            <ion-row color="primary" justify-content-center>

                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

                    <!-- <img src="assets/bgs.PNG" class="imgC"> -->
                    <img src="assets/images/dc.png" alt="Avatar" class="imgC">

                    <h1>
                        Push yourself
                    </h1>
                    <h1>
                        because no one
                    </h1>
                    <h1>
                        else is going to
                    </h1>
                    <h1>
                        do it for you.
                    </h1>
                    <br><br><br>

                    <ion-button color="secondary" class="gett" (click)="goToLogin()">Get Started</ion-button>

                </ion-col>

            </ion-row>
        </ion-grid>
    </div>
  </body>
</ion-content>
