<ion-content>

    <body>
        <div class="content">

            <ion-grid>
                <ion-row color="primary" justify-content-center>

                    <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
                        <br><br><br><br><br><br><br><br>

                        <img src="assets/images/Captures.JPG" alt="Avatar" class="imgC">

                        <h1>
                            Push yourself
                        </h1>
                        <h1>
                            because no one
                        </h1>
                        <h1>
                            else is going to
                        </h1>
                        <h1>
                            do it for you.
                        </h1>
                        <br><br><br>

                        <ion-button color="secondary" shape="round" class="gett" (click)="goToLogin()">Get Started</ion-button>

                    </ion-col>

                </ion-row>
            </ion-grid>

        </div>
    </body>

</ion-content>