<ion-content>

    <body>
            <ion-tabs class="icons">
                    <ion-tab-bar slot="bottom">
                      <ion-tab-button tab="home" routerLink="/home">
                        <ion-icon name="home"></ion-icon>
                        <!-- <ion-label>Home</ion-label> -->
                        <!-- <ion-badge>6</ion-badge> -->
                      </ion-tab-button>
                  
                      <ion-tab-button tab="profile" routerLink="/profile">
                        <ion-icon name="person"></ion-icon>
                        <!-- <ion-label>Profile</ion-label> -->
                      </ion-tab-button>
                  
                      <ion-tab-button tab="events" routerLink="/events">
                        <ion-icon name="calendar"></ion-icon>
                        <!-- <ion-label>Events</ion-label> -->
                      </ion-tab-button>
                  
                      <ion-tab-button tab="add" routerLink="/add">
                        <ion-icon name="add"></ion-icon>
                        <!-- <ion-label>About</ion-label> -->
                      </ion-tab-button>
                    </ion-tab-bar>
                  </ion-tabs>
                  
        <h1>Paint Fun</h1>
        <h1>Race Club</h1>
        <img src="assets/images/rep.jpg">
        <ion-item lines="none" class="buu">
            <ion-button class="jay">
                <ion-icon name="navigate"></ion-icon>
            </ion-button>
            <ion-button class="tee" color="primary">Events</ion-button>
        </ion-item>

    </body>
</ion-content>