<ion-content>

    <body>
        <br><br>
        <h2>Confirmation!</h2>
        <br><br>
        <ion-card class="card1">

            <ion-item lines="none">
                <h5>Open hours</h5>


                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-icon class="wak" color="dark" name="walk"></ion-icon>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h5 class="ends"> Closehours</h5>

            </ion-item>
            <ion-item lines="none">
                <h6>07:00</h6>


                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="ends"> 10 Km</h6>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="ends"> 17:00</h6>

            </ion-item>
            <ion-item></ion-item>
            <ion-item lines="none" class="mon">
                <ion-icon class="money" name="cash"></ion-icon> &nbsp;&nbsp;


                <p> <sub class="bot">R150.00</sub> Per Person</p>
            </ion-item>

        </ion-card>
        <ion-card class="card2">
            <br>
            <h5>how many tickets do you want?</h5>
            <br><br>
            <ion-item lines="none" class="go">
                <ion-fab-button color="primary" size="small">
                    -
                </ion-fab-button>
                1
                <ion-fab-button color="primary" size="small">
                    +
                </ion-fab-button>
            </ion-item>
            <br><br>

            <h1>Total: R150.00

            </h1>
            <br><br><br>
            <ion-button shape="round" expand="block"><b>Pay now</b></ion-button>
        </ion-card>
    </body>

</ion-content>