<ion-content>

    <form [formGroup]="eventForm">

        <body>

            <div id="bg">
                <ion-grid>
                    <ion-row justify-content-center>

                        <ion-col align-self-center size-md="11" size-lg="11" size-xs="12">

                            <div class="div1">
                                <ion-buttons color="light" slot="start">
                                    <ion-back-button defaultHref="club-profile"></ion-back-button>
                                </ion-buttons>
                                <!-- <ion-icon name="arrow-round-back" defaultHref="club-profile"></ion-icon> -->


                                <h2 id="heading">Add Your Event!</h2>
                                <br><br><br>
                                <div class="div2">

                                    <!-- <form #form="ngForm" (ngSubmit)="login(form)"> -->


                                    <div padding>
                                        <br><br><br>

                                        <ion-item id="item" color="transparent">
                                            <ion-label position="floating">Event name</ion-label>
                                            <ion-input type="text" [(ngModel)]="newName" formControlName="newName"></ion-input>
                                        </ion-item>
                                        <div class="error" *ngIf="eventForm.get('newName').hasError('required') && eventForm.get('newName').touched">
                                            Please input your event
                                        </div>
                                        <div class="error" *ngIf="eventForm.get('newName').hasError('minlength') && eventForm.get('newName').touched">
                                            Minimum 4 characters
                                        </div>
                                        <div class="error" *ngIf="eventForm.get('newName').hasError('maxlength') && eventForm.get('newName').touched">
                                            Maximum 30 characters
                                        </div>
                                        <ion-item id="item" color="transparent">
                                            <ion-label position="floating">Address</ion-label>
                                            <ion-input type="text" [(ngModel)]="newAddress" formControlName="newAddress"></ion-input>
                                        </ion-item>

                                        <div *ngIf="eventForm.controls.newAddress.invalid && eventForm.controls.newAddress.dirty">
                                        </div>
                                        <div class="error" *ngIf="eventForm.get('newAddress').hasError('required') && eventForm.get('newAddress').touched">
                                            Please input your Address
                                        </div>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col>
                                                    <ion-item id="item" color="transparent">
                                                        <ion-label position="floating">Opening Time</ion-label>
                                                        <ion-datetime [(ngModel)]="newOpeningHours" formControlName="newOpeningHours" displayFormat="H:mm a"></ion-datetime>
                                                    </ion-item>
                                                    <div *ngIf="eventForm.controls.newOpeningHours.invalid && eventForm.controls.newOpeningHours.dirty">
                                                    </div>
                                                    <div class="error" *ngIf="eventForm.get('newOpeningHours').hasError('required') && eventForm.get('newOpeningHours').touched">
                                                        Please input your Open Hour
                                                    </div>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-item id="item" color="transparent">
                                                        <ion-label position="floating">Closing Time</ion-label>
                                                        <ion-datetime [(ngModel)]="newClosingHours" formControlName="newClosingHours" displayFormat="H:mm a"></ion-datetime>
                                                    </ion-item>
                                                    <div *ngIf="eventForm.controls.newClosingHours.invalid && eventForm.controls.newClosingHours.Close">
                                                    </div>
                                                    <div class="error" *ngIf="eventForm.get('newClosingHours').hasError('required') && eventForm.get('newClosingHours').touched">
                                                        Please input your Close Hour
                                                    </div>
                                                </ion-col>
                                                <!-- price -->
                                                <ion-item id="item" color="transparent">
                                                    <ion-label position="floating">Price(R)</ion-label>
                                                    <ion-input type="text" [(ngModel)]="newPrice" formControlName="newPrice"></ion-input>
                                                </ion-item>

                                                <div *ngIf="eventForm.controls.newPrice.invalid && eventForm.controls.newPrice.dirty">
                                                </div>
                                                <div class="error" *ngIf="eventForm.get('newPrice').hasError('required') && eventForm.get('newPrice').touched">
                                                    Please input the Price
                                                </div>

                                                <!-- price -->
                                            </ion-row>
                                        </ion-grid>




                                        <!-- <ion-item color="transparent" lines="none">
                                            <div id="h">
                                                <h2>Submit</h2>
                                            </div>

                                            <div id="but">
                                                <ion-fab-button [disabled]="!eventForm.valid" (click)="trySubmit()" color="light" size="small">
                                                    <ion-icon color="primary" name="arrow-forward"></ion-icon>
                                                </ion-fab-button>

                                            </div>
                                        </ion-item> -->
                                        <br><br>
                                        <ion-col>
                                            <ion-button shape="round" routerLink="/club-profile" expand="full" color="light" [disabled]="!eventForm.valid" (click)="addEvent(newName,newAddress,newOpeningHours,newClosingHours,newPrice)">Add</ion-button>
                                        </ion-col>

                                        <br>



                                    </div>
                                </div>
                            </div>
                        </ion-col>

                    </ion-row>
                </ion-grid>



            </div>

        </body>
    </form>
</ion-content>