

<ion-content>
    

    <body>
        <ion-buttons slot="start" >
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <div id="bg">
            <ion-grid>
                <ion-row color="primary" justify-content-center>
<br>
                    <ion-col align-self-center size-md="12" size-lg="11" size-xs="12">
                       
                        <div class="div1" >
                            <!-- <ion-avatar class="avatar">
                                <img src="assets/images/rep.jpg" alt="Avatar" class="img">
                            </ion-avatar> -->
                            <h2 id="heading">My Profile!</h2>
                            <p id="name">user name</p>
                            <div class="profile-image">
                                    <div>
                                        <img src="/assets/images/avatar.svg">
                                    </div>
            
            
                                    <div class="image-upload">
                                        <ion-fab horizontal="center" vertical="top" class="fab">
                                            <ion-fab-button color="primary" size="small">
                                                <ion-icon name="camera" class="input"> </ion-icon>
                                            </ion-fab-button>
                                            <ion-fab-list side="start">
                                                <ion-fab-button color="primary">
                                                    <ion-icon name="camera" (click)="pickImage()" class="camera"> </ion-icon>
                                                </ion-fab-button>
            
                                            </ion-fab-list>
            
                                            <ion-fab-list side="end">
                                                <ion-fab-button color="primary">
                                                    <label for="file-input2">
                                                                    <ion-icon name="document" class="document"> </ion-icon> 
                                                            </label>
                                                </ion-fab-button>
                                            </ion-fab-list>
                                        </ion-fab>
            
            
                                        <input id="file-input2" class="input" type="file" (change)="uploadProfilePic($event)" />
                                    </div>
                                </div>
                            <br><br><br>
                            <div class="div2">
                                    <br><br><br>
                                    <br><br><br>
                                    <ion-item>

                                            <ion-label>user.Email</ion-label>
                        
                                            <ion-icon name="mail" color="primary" slot="start"></ion-icon>
                                            <ion-icon name="create" color="primary" slot="end" (click)=" NameUpdate(user)"></ion-icon>
                                    </ion-item>
                                    <br><br>
                                    <ion-item>

                                            <ion-label>user.location</ion-label>
                        
                                            <ion-icon name="navigate" color="primary" slot="start"></ion-icon>
                                            <ion-icon name="create" color="primary" slot="end" (click)=" AddressUpdate(user)"></ion-icon>
                                    </ion-item>
                                    <br><br>
                                    <ion-item>

                                            <ion-label>user.age</ion-label>
                        
                                            <ion-icon name="navigate" color="primary" slot="start"></ion-icon>
                                            <ion-icon name="create" color="primary" slot="end" (click)=" AgeUpdate(user)"></ion-icon>
                                    </ion-item>
                                    <br><br>
                                    <ion-item>

                                            <ion-label>user.gender</ion-label>
                        
                                            <ion-icon name="male" color="primary" slot="start"></ion-icon>
                                            <ion-icon name="create" color="primary" slot="end" (click)=" GenderUpdate(user)"></ion-icon>
                                    </ion-item>

                                      
                            </div>
                        </div>

                    </ion-col>

                </ion-row>
            </ion-grid>





        </div>

    </body>

</ion-content>