<ion-content>

    <body>
        <div id="bg">
            <ion-grid>
                <ion-row color="primary" justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div id="div1">
                            <br>
                            <br>
                            <br>
                            <img src="assets/images/logo.png" alt="Avatar" class="imgC">
                            <br>
                            <br>
                            <br>
                            <div id="div2">
                                <form [formGroup]="forgotpasswordForm" *ngIf="!isForgotPassword">
                                    <ion-item id="item" color="transparent">
                                        <ion-label position="floating">Enter Email</ion-label>
                                        <ion-input type="email" formControlName="email"></ion-input>
                                    </ion-item>
                                    <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('required') && forgotpasswordForm.get('email').touched">
                                        Please input your email
                                    </div>
                                    <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('pattern') && forgotpasswordForm.get('email').touched">
                                        Email address invalid
                                    </div>
                                </form>
                                <br>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            <!-- <ion-button expand="block" color="primary" (click)="Cancel()">Cancel</ion-button> -->
                                            <div id="but">
                                                <ion-fab-button color="primary" (click)="Cancel()">
                                                    <ion-icon name="close-circle-outline"></ion-icon>
                                                </ion-fab-button>
                                            </div>
                                        </ion-col>
                                        <ion-col>
                                            <!-- <ion-button expand="block" color="primary" [disabled]="!forgotpasswordForm.valid" (click)="reset()">Reset</ion-button> -->
                                            <div id="buts">
                                                <ion-fab-button color="primary" [disabled]="!forgotpasswordForm.valid" (click)="reset()">
                                                    <ion-icon name="refresh"></ion-icon>
                                                </ion-fab-button>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </body>
</ion-content>