<ion-content>

    <form [formGroup]="paymentsForm">

        <body>

            <div id="bg">

                <ion-grid>
                    <ion-row color="primary" justify-content-center>

                        <ion-col align-self-center size-md="6" size-lg="11" size-xs="12">

                            <div class="div1">
                                <br><br><br>
                                <img src="assets/dc.png" alt="Avatar" class="imgC">
                                <br><br><br>
                                <div class="div2">
                                    <img src="assets/images/card.png" alt="Avatar" class="imgC">
                                    <!--                             
                                <form [formGroup]="loginForm">
 
                                </form> -->
                                    <ion-label class="labels">Rounded Input</ion-label>
                                    <br><br><br>
                                    <ion-item class="roundedInput">
                                        <ion-input></ion-input>
                                    </ion-item>
                                    <br><br>
                                    <ion-label class="labels">Rounded Input</ion-label>
                                    <br><br>
                                    <ion-item class="roundedInput">
                                        <ion-input></ion-input>
                                    </ion-item>
                                    <br><br>,n
                                    <ion-label class="labels">Rounded Input</ion-label>
                                    <br><br>
                                    <ion-item class="roundedInput">
                                        <ion-input></ion-input>
                                        <!-- <ion-input></ion-input> -->
                                    </ion-item>
                                </div>
                            </div>

                        </ion-col>

                    </ion-row>
                </ion-grid>
            </div>


        </body>
    </form>
</ion-content>