<ion-content class="body">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="add"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <div *ngFor="let myclubs of clubs ">
        <br/>
        <ion-header text-center class="h">
            <ion-avatar> <img src="{{photoURL}}"></ion-avatar>
            <ion-header class="title">
                {{clubName}}
            </ion-header>
        </ion-header>
        <br/>

        <ion-item>
            <ion-slides startAutoplay [options]="slideOpts">
                <ion-slide>
                    <ion-button (click)="currentClub(myclubs)" routerLink="/add-event" class="actButtons" color="primary" shape="round">
                        <ion-icon name="add-circle"></ion-icon> Create Event</ion-button>
                </ion-slide>
                <ion-slide>
                    <ion-button class="actButtons" color="primary" shape="round">
                        <ion-icon name="information-circle"></ion-icon> About </ion-button>
                </ion-slide>
                <ion-slide>
                    <ion-button class="actButtons" color="primary" shape="round">
                        <ion-icon name="people"></ion-icon> Members </ion-button>
                </ion-slide>
            </ion-slides>
        </ion-item>

        <br/>
        <br/>
        <ion-header class="subtitle">
            Events
        </ion-header>
        <br/>

        <ion-list lines="none" *ngFor="let myevents of events">
            <ion-item class="eventCard" class="item" *ngIf="hasAEvent">
                <ion-card>
                    <img class="ecardimg" src="\assets\images\pexels-photo-2283996event.jpeg" />
                    <ion-card-header>
                        <ion-card-subtitle>
                            <ion-icon name="pin"></ion-icon> {{myevents.address}} </ion-card-subtitle>
                        <ion-card-title>{{myevents.name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="alarm"></ion-icon> openingHours: {{myevents.openingHours}} <br/>
                        <ion-icon name="alarm"></ion-icon> closingHours: {{myevents.closingHours}} <br/>
                        <ion-icon name="cash"></ion-icon> price: R{{myevents.price}} <br/>
                    </ion-card-content>
                </ion-card>

            </ion-item>
        </ion-list>
        <div class="noClubs" *ngIf="!hasAEvent">
            <br/>
            <br/>
            <p text-center color="medium" class="sadname"> No Events Are Scheduled ! </p>
            <br/>

        </div>
    </div>
</ion-content>