<ion-content class="body">
    <!-- <div *ngFor="let event of myEvents">
    <h1>
        {{event.address}}
    </h1>
    <h1>
        {{event.date}}
    </h1>
</div> -->
    <!-- <body> -->
    <div *ngFor="let user of theUser ">
        <br>
        <div *ngIf="defaultpic">
            <img class="img" src="{{user.photoURL}}">
        </div>
        <div *ngIf="!defaultpic">
            <img class="img" src="\assets\images\profile-user.png">
        </div>
    </div>

    <h1>
        BE

    </h1>
    <h1>
        HEALTHY
    </h1>
    <h1>
        MAKE FRIENDS
    </h1>
    <h1>
        HAVE FUN
    </h1>

    <br>

    <h2 text-center class="cent"> Events You Going To
        <ion-icon class="iconSize" name="compass"></ion-icon>
    </h2>
    <br>

      
       <div class="sly"  *ngIf="hasATicket">
        <div *ngIf="isSlide">
            <ion-slides startAutoplay [options]="slideOpts">
               
                <ion-slide *ngFor="let event of tickets">
                    
                        <ion-card class="booked">
                          <p class="wordsCard"><ion-icon name="information-circle"></ion-icon> {{event.name}}</p> <br/>     
                          <p class="wordsCard"><ion-icon name="calendar"></ion-icon> {{event.date}}<br/> </p>
                        </ion-card>
                        <ion-icon name="clock" class="info"></ion-icon>
                   
                </ion-slide>
            </ion-slides>
        </div>
        
        </div>
    
    <div class="noClubs" *ngIf="!hasATicket">
        <br/>
        <br/>
        <p text-center color="medium" class="sadname"> You Don't Have Any Tickets Yet ! </p>
        <br/>

    </div>

    <br>

    <div *ngIf="isSlide">
        <h2 text-center class="cent"> Running Clubs
            <ion-icon class="iconSize" name="people"></ion-icon>
        </h2>
        <div *ngIf="hasAClub" >
        <br>
       
        <ion-slides class="slick-slide" startAutoplay [options]="slideOpts" >
            <ion-slide *ngFor="let clubss of clubs">
                <ion-card class="slideCards" [ngStyle]="{'background-image':'url('+clubss.photoURL+')'}">
                    <ion-card-content>
                        <h2 class="cName">{{clubss.name}}</h2>
                    </ion-card-content>
                </ion-card>

            </ion-slide>
        </ion-slides>

    </div>
</div>

    <div class="noClubs" *ngIf="!hasAClub">
        <br/>
        <br/>
        <p text-center color="medium" class="sadname"> There Are No Clubs To View Yet ! </p>
        <br/>

    </div>

    <!-- </body> -->

</ion-content>