

<ion-content  class="body">
      
    <!-- <body> -->
           
        <br>
        <img src="\assets\images\beepic.jpg" alt="Avatar" class="img">
        <h1>
            BE
        </h1>
        <h1>
            HEALTHY
        </h1>
        <h1>
            MAKE FRIENDS
        </h1>
        <h1>
            HAVE FUN
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <h2 text-center class="cent"> Events You Going To <ion-icon class="iconSize" name="compass"></ion-icon></h2>
                <br>
                <br>
        <div class="cent">
            <div class="cet">
                <!-- <p>Paint Fun Race Club</p>
                    <p>Redbull Run Sat</p>
                    <p>Date: 12/12/2019 Time: 11:00</p> -->
                <img class="imgC" src="assets/images/go.png" alt="Avatar"  (click)="go()">
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div *ngIf="isSlide" >
                <h2 text-center class="cent"> Running Clubs <ion-icon class="iconSize" name="people"></ion-icon></h2>
                <br>
                <br>
            <ion-slides startAutoplay [options]="slideOpts">
                <ion-slide *ngFor="let clubss of clubs">
                    <ion-card class="slideCards" [ngStyle]="{'background-image':'url('+clubss.photoURL+')'}" >
                        <ion-card-content>
                            <h2 class="cName">{{clubss.name}}</h2>
                        </ion-card-content>
                    </ion-card>
                   
                </ion-slide>
            </ion-slides>
        </div>
       
    
    <!-- </body> -->
    <br>
    <br>
    <br>
    <br>
   
</ion-content>